#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel --fail-missing

override_dh_auto_configure:
	dh_auto_configure --

override_dh_makeshlibs:
	dh_makeshlibs -V
